*{margin: 0px;padding: 0px;}    
body{font-family: Tahoma, Helvetica, sans-serif;}
P{
  margin: 0px;
}
.header_top_full{
  background:#da5041;
}
.main-top_nav > li {
    padding: 5px;
    text-decoration: none;
    margin-top: 14px;
    border: none !important;
}
.main-top_nav li input {
    border-radius: 4px; 
    padding: 2px 6px;
    width: 122px;
    border: none;
    font-size: 12px;
    height: 22px;
}

.toggle-alert{
        position: fixed;
    width: 250px;
    top: 107px;
    right: 0;
    padding: 6px;
    z-index: 999;
    background: #ff000099;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    animation: hide-toggle 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;

}
@keyframes hide-toggle {
  from {right: 0px;}
  to {right: -200px; opacity: 0;}
}
.box_input {
    width: 20px;
    border: 1px solid #696464;
    border-radius: 5px;
    height: 17px;
    background: transparent;
    }
.login-btn {
    padding: 4px 21px;
    border: 1px;
    background-color: #008000;
    font-weight: 600;
    font-size: 12px;
    margin-right: -24px;
}
.border-0 {
    border: 0!important;
}
.p-0{
  padding: 0 !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.m-0{
  margin: 0 !important;
}
.card-header h3 {
    font-size: 14px;
    vertical-align: middle;
    display: initial;
    letter-spacing: 1.5px;
}
.nav>li {
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
}
.bg-site {
    background: #ffffff;
    min-width: 247px;
    position: relative;
    float: right;
}
.sign-up {
    padding: 4px 21px;
    border: 1px;
    background-color: #666666;
    background-image: linear-gradient(-180deg, #666 0%, #333 100%);
    font-weight: 600;
    font-size: 12px;
}
.user_top{    
    font-size: 17px;
    color: #ffb80c;
    padding: 0px 4px;
}
.main-top_nav {
  padding-right: 20px;
}
.search_bar_top input {
      width: 225px;
    margin: 20px 0px;
    border-radius: 4px;
    border: 1px solid;
    padding: 4px 9px;
    font-size: 13px;
    height: 25px;
}
#tabMenu {
    margin: 0 px 0px;
    padding: 0px;
}
.manu_tab {
    background-color: #fff100;
}
.main_manu_bar  li {
  border-right: none;
}
.logo_header_top {
  padding: 0px;
}
.main_manu_bar li {
    border-right: 1px solid #383838;
    display: inline-block;
    padding: 0px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
}
.input_bos_time {
  display: flex;
  justify-content: space-between;
}
.input_bos_time input{
    width: 59px;
    border-radius: 7px;
    margin: 6px 3px;
    border: 1px solid #ada9a9;
}
.live_btn_icone{
  font-size: 16px;
  color: #0b0b63;
  background: #bbb4b4;
  padding: 0px 2px;
}
.search_bar_top {
  display: flex;
  justify-content: space-between;
}
.search_bar_top i{
    position: relative;
    top: 21px;
    left: 6px;
    background: white;
    height: 23px;
    padding: 3px 5px;
    border-radius: 3px;
}
._prices {
  padding: 10px 5px;
}
.adel_flex_close {
    display: flex;
    justify-content: space-between;
}
.match_odds {
    margin-left: 16px;
    padding: 0px;
    font-size: 10px;
}
.adel_flex_close {
  padding: 0px;
}
.match_scro i{
  color: red;
  margin-top: 10px 0px;
  margin: 9px 5px 3px 1px;
}
.main_manu_bar li a {
  color: black;
  font-size: 12px;
  font-weight: bold;
} 
.time_zoon {
  font-size: 11px;
  color: #726464;
}
.main_manu_bar {
  margin: 0px;
}
.setting_icone {
  font-size: 16px;
}
.col_center {
  height:100%;
  background: #f0ece1;
  padding: 0px 20px;
}
.sec-tab_secxtion {
  margin-top: 20px;
}
.tabs-buttonn {
  background: #da5041;
  height: auto;
}
.tabs-buttonn p{
  font-weight: bold;
  padding: 8px 8px 2px;   
  background: #da5041;
  color: white;
}
.tabs-buttonn ul{
  padding-left: 12px;
}
.tabs-buttonn ul li a{
  background-color: #3a4e5a;
  padding: 0px 35px;
  height: 24px;
  color: white;
  font-size: 12px;
}
.tab-pane {
  background: white;
  margin: 22px 0px;
  padding: 3px 14px;
}
.fancy-btn a{
  background: #0A92A5;
  border-radius: 3px;
  color: white;
  padding: 0px 3px;
}
.match_list_team {
  list-style: none;
  margin:0px ;
  padding: 0px;
}
.match_list_team li{
  font-size: 12px;
  padding: 4px 0px;
}
.right-section {
  background-color:#294252;
  color: white;
}
.right-section p{
  font-size: 12px;
  padding: 5px 8px;
}
.all_margin_section {
  padding: 0px;
}
.click_on_text p{
  font-size: 12px;
  text-align: center
}
.left-section {
  background-color:black;
  color: white;
}
.ico {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e1e1;
}
.right_bet_slip {
  display: flex;
  justify-content: space-between; 
}
.tabs-buttonn ul li a:hover{
  background: #3c3838;
  border: none;
}
.ico:hover{
  background-color: #f2dca7;
}
.score_table li a{
  color: black;
}
.ico a{
  color: black;
  padding: 3px 4px;
  font-size: 11px;
  width: 100%;
}
.icon_leftt i{
  background: #fcb50d;
  padding: 4px 5px;
  font-size: 9px;
  border-radius: 5px;
}
.ico_dots li {
   padding: 3px 9px;
 }
.ico_dots{
  margin: 0px;
}
.ico_dots li a{
  color: #ffb80c;
  font-size: 12px;
}
.back_bit {
  background-color: #ced5da;
}
.right-top_section {
    background:#273f4f;
    color: white;
    margin: 0px;
    padding: 0px;
  }
.right-top_section li a{
    color: white;
}
.profit-section_odds {
    background-color:#ced5da;
}
.profit-section_odds p{
    font-size: 11px;
    margin: 0px;
    padding: 3px 0px;
}
.adelaition_vs_team p{
    font-size: 11px;
    margin: 0px;
    padding: 2px 0px;
}
.match_scro {
  background-color:#beddf4;

}
.match_scro p{
  font-size: 11px;
  margin: 0px;
  padding: 1px 0px; 
}
.run_box_border {
  border-top: 1px solid #6d97b5;
  border-bottom: 1px solid #6d97b5;
  background-color: #d4e8f8;
}
.run_scro_box {
  display: flex;
  justify-content: space-between; 
  padding: 9px 3px;
}
.run_scro_box li {
  padding: 0px 16px;
  border: 1px solid;
  border-radius: 4px;
  background: white;
  font-size: 11px;
}
.cancel-btn {
  display: flex;
  justify-content: space-between;
}
.cancel-btn li {
  padding: 10px 0px;
}
.cancel_bttn {
  padding: 5px 41px;
  border-radius: 4px;
  border:1px solid #a9a2a2;
  font-size: 11px;
  color: black;
  font-weight: 600;
}
.team_price_lia {
  font-size: 11px;
  margin-bottom: 6px;
}
.suport {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: rgba(0,0,0,0.3);
  font-weight: 600;
  font-size: 13px;
}
.suport li i{
    font-size: 18px;
    color: #a8a59d
}
.check_box {
  font-size: 13px;
}
.main-fotter_sec {
  border: 1px solid black;
  padding: 2px 40px; 
  border-radius: 8px;
  margin: 26px 39px 0px;
}
.suport li{
  font-size: 12px;
}
.sky_info_tech p {
  font-size: 9px;
  margin: 0px;
  padding: 2px 0px
}
.chrow_icone {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin: 20px 0px 0px;
}
.chrow_icone li{
  display: inline-block;
  padding: 0px 2px;
  font-size: 20px;
}
.chrow_icone li i{
  color:  #b3b2bd;
}
.our_sit_works p{
  font-size: 10px;
  text-align: center;
  padding: 0px 139px;
  color:  #b3b2bd;
}
.pri_contant {
  display: flex;
  justify-content: space-between;
  padding: 0px 155px;
  list-style: none;
}
.pri_contant li a {
  font-size: 12px;
  color: #b3b2bd;
}
.fotter_last_section img{
  margin: auto;
  display: table;
}
.table_team_name {
  display: flex;
  justify-content: space-between;
}
.fancy-right {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
}
.fancy-right a{
  font-size: 12px;
  font-weight: 600;
} 
.fancyy_ {
  background:#0a92a5;
  padding: 3px 4px;
  border-radius: 6px;
  font-size: 12px;
  color: white;
}
.table_point_ {
  list-style: none;
}
.table_point_ td{
  border: 1px solid;
  padding: 5px 10px;
  list-style: none;
}
.main_table_center {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main_table_center li {
  border-bottom: 1px solid #d6d1d1;
  background: white;
}
.table_box_ {
  padding: 0px;
}
.main_table_center li:hover{
  background:#f1f4f6;
}
.score_table  {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.fanyy_time  {
  float: right;
  text-align: center;
  position: absolute;
  right: 53px;
  background: green!important;
  color: white;
}
.carousel-inner img{
  width: 100%;
}
.score_table i{
  color: #cac9c9;
  font-size: 15px;
  border: 1px solid #d5d1d1;
  border-radius: 50%;
  padding: 2px 2px;
}
.score_table i:hover{
  color: green;
}
#in_play{
  color: green;
  font-weight: 600;
}
.score_table li {
  background: #ffffff;
  border-radius: 0px;
  font-size: 10px;
  width: 55px;
  text-align: center;
  height: 21px;
}
.in_play_section {
  display: flex;
  justify-content: space-between;
}
.fannyy {
  background: #0A92A5;
  padding: 0px 7px;
  color: white;
  font-size: 10px!important;
  border-radius: 4px;
}
.in_play_section a {
  font-size: 11px;
  font-weight:600;
  line-height: 25px;
}
.main_table_center ul {
  margin: 3px 0px;
}
.ico_sport {
  display: flex;
  justify-content: space-between;
  background: #222222;
}
.hello {
  padding: 0px;
  background:#FFB80C;
}
.hello img{
  width: 100%;
}
.login_form {
  padding: 103px 31px;
}
/* .modal-body {
  position: relative;
  padding: 0px 14px;
  border-radius: 50px;
} */
.login_form  input {
  margin: 7px 0px;
  font-size: 12px;
  height: 26px;
}
.logn_title_ {
  font-size: 17px;
  color: black;
}
/* .modal-content{
  background:none;
} */
.login_btn {
  background-image: url('../images/bg-top-skyEX.jpg');
  margin: auto;
  display: block;
  width: 100%;
  padding: 5px 0px;
  color:#FFB80C;
  font-weight: bold;
  border: none;
}
.login_fo p{
  text-align: left;
  font-size: 17px;
  color: black;
}
.score_table li:nth-child(odd){
  background-color: #72bbef;
  padding: 4px 0px;
}
.score_table li:nth-child(even){
  background-color:#faa9ba;
  padding: 4px 0px;
}
.suspand a {
  border: 1px solid red;
  color: red;
  padding: 2px 35px;
  margin-right: 6px;
  font-size: 12px;
}
.suspand {
  padding: 3px 0px;
  display: flex;
  justify-content: space-between;
}
.suspand i{
  color: #cac9c9;
  font-size: 17px;
  border: 1px solid #d5d1d1;
  border-radius: 50%;
  padding: 2px 2px;
}
.ply_icon_cricle {
  color: #a9a2a2;
}


.p-0{
    padding: 0 !important;
}

.p-adjust{
    padding: 3px 2px;
}

.float-right{
    float: right !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{

    padding: 2px !important;
}

.dataTable>tbody>tr>td, .dataTable>tbody>tr>th, .dataTable>tfoot>tr>td, .dataTable>tfoot>tr>th, .dataTable>thead>tr>td, .dataTable>thead>tr>th{

        font-size: 12px;
    margin: 0px;
    padding: 0 !important;
    vertical-align: middle;
}
.second-row a {
    font-size: 11px;
    font-family: tahoma;
    color: #2789CE;
}
.two_points {
    max-width: 200px;
    position: relative;
}
.Msuspended {
    position: absolute;
    background: #ffffff;
    display: block;
    width: calc(100% - 6px);
    height: calc(100% - 4px);
    color: #3a4e5a;
    border: 1px solid #da5041;
    padding: 0px;
    font-family: tahoma;
}
.two_points a.btnBack {
    background-color: #72bbef;
    padding: 2px 0px;
    font-size: 11px;
    color: #000;
    font-weight: 800;
    display: inline-block;
    width: 45%;
}
.two_points a.btnLay {
    background-color: #faa9ba;
    padding: 2px 0px;
    font-size: 11px;
    color: #000;
    font-weight: 800;
    width: 45%;
    display: inline-block;
}
._3QQE9 {
    text-align: center;
}
.d-none {
    display: none!important;
}

._3B8pu {
    text-align: center;
    margin-top: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em;
    background: #f1f3f7;
    font-weight: 500;
    font-size: 14px;
    width: 96%;
    margin: 0 auto;
    border-radius: 8px;
}
.m-0{
    margin: 0!important;
}
._3B8pu a {
    margin: 0 1em 0 0;
    display: inline-block;
}

._3A13C p,
._3B8pu p {
    margin-bottom: 0;
    display: inline-block;
}

._3B8pu img {
    max-height: 32px;
}

._3A13C img,
._3B8pu img {
    height: 25px;
}

._3B8pu a {
    margin: 0 1em 0 0;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #f50;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
}


.leftSideBarContent ul li.active a{
        color: #000;
    background: #f2dca7;
}
.table-blue-color {
    background-color: #da5041;
    color: white;
}


.secContent td {
max-width: 15px;
}
.secContent th p {
    margin: 3px 0 0;
    font-size: 12px;
    float: left;
    width: auto;
    font-weight: 500;
}
.site-alert{
    padding: 4px;
    text-align: center;
    background: #f5b400;
    border-radius: 0px;
    color: white;
    display: none;
    margin: 0;
}
.contentBlockHeading {
    background-color: #072443;
    border-radius: 3px 3px 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    height: 35px;
    padding: 0 15px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.main-body-right-section-wrap {
    background-color: #f7f7f7;
    box-shadow: 0 -1px 3px 2px rgba(0, 0, 0, 0.11);
}
.main-body-right-section {
    padding-left: 0px;
    padding-right: 8px;
}
.Bet-for-slip {
    background: #9bd0f66b;
    width: 100%;
}
.match_details_box p {
    font-size: 11px;
    color: #131313;
    font-weight: 500;
}
.match_rates ul li a {
        display: block;
    text-align: center;
    border: 1px solid #d2d2d2;
    padding: 3px 12px;
    font-size: 12px;
    margin: 0px 3px;
    height: 20px;
    line-height: 1;
}
.match_rates ul li {
    display: inline-block;
    list-style: none;
}
.match_rates {
    width: 100%;
    height: auto;
    padding: 4px 0;
    background-color: #fdfdfd;
    margin-top: 7px;
    text-align: center;
}
.one_team_name {
        width: 100%;
    margin: 5px 0px;
    height: auto;
    background-color: white;
    padding: 3px 0px;
    font-size: 11px;
}
.fa-ticket:before {
    content: "\f145";
    font-size: 130px;
    color: #072443;
}
._1BXvS {
    font-size: 15px;
    font-weight: 700;
}
._1Eprm {
    font-size: 12px;
}
._1zgNi {
    display: inline-flex;
}
.bet-slip h1 {
    display: inline-block;
    font-size: 14px;
    padding-top: 10px;
    margin: 0;
}
.match-odds-countory p{
    font-size: 11px;
    font-weight: 800;
}
.match-odds-countory span{
   font-size: 11px;
    color: #989898;
}
.match-odds i {
    font-size: 11px;
    color: #ffffff;
    background: red;
    padding: 2px;
    margin-right: 8px;
    margin-top: 13px;
    cursor: pointer;
    border-radius: 4px;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.form-control{
    padding: 3px;
}
.betting-price{
    font-size: 11px;
}
.input-type-area input{
    height: 20px;
    font-size: 11px;
}
.BetForSlipSecHead{
    background: #ced5da;
}
.BetforSlipMatch,.BetlaySlipMatch {
    background: white;
    padding: 0 8px;
    height: 25px;
    line-height: 0;
}
.liability{
    font-size: 11px;
    margin-bottom: 10px;
}
.two_buttons {
    text-align: center;
    margin-bottom: 10px;
}
.marketSec {
    margin-top: 10px;
}
.SecHead {
    padding: 6px 8px;
    background: black;
    color: white;
    font-size: small;
}
.two_points_single a.btnBack {
    background-color: #72bbef;
    padding: 4px;
    font-size: 11px;
    color: #000;
    font-weight: 800;
    display: inline-block;
    width: 90%;
}
.two_points_single a.btnLay {
    background-color: #faa9ba;
    padding: 4px;
    font-size: 11px;
    color: #000;
    font-weight: 800;
    width: 90%;
    display: inline-block;
}
.BetCancelAll a{
    background: black;
    color: white !important;
    border: 1px solid #000;
}
.BetSubmit a{
    background: #da5041;
    color: white;
}
.nav>li>a {
        position: relative;
    display: block;
    padding: 6px 10px;
    color: black;
    font-size: 12px;
}
.nav-pills>li>a {
    border-radius: 4px;
    color: white;
    background: #010101;
    padding: 3px 10px;
}
.head-account-row,.head-account-row:hover{
      background-color: black !important;
    color: #d80000 !important;
    font-weight: 600;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fbd5bf;
    color: #000000;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
@media print {
    html, body {
       display: none;  /* hide whole page */
    }
}

.check_box {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
                      -webkit-linear-gradient(left, #f66 50%, #6cf 50%) !important;
    background-size: 100% 100%, 200% 100% !important;
    background-position: 0 0, 15px 0 !important;
    border-radius: 25px !important;
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5),
                inset 0 0 10px hsla(0,0%,0%,.5),
                0 0 0 1px hsla(0,0%,0%,.1),
                0 -1px 2px 2px hsla(0,0%,0%,.25),
                0 2px 2px 2px hsla(0,0%,100%,.75) !important;
    cursor: pointer !important;
    height: 25px !important;
    /* left: 50% !important; */
    /* margin: -12px -37px !important; */
    padding-right: 25px !important;
    /* position: absolute !important; */
    /* top: 50% !important; */
    width: 60px !important;
    -webkit-appearance: none !important;
    -webkit-transition: .25s !important;
}
.check_box:after {
    background-color: #eee !important;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1)) !important;
    border-radius: 25px !important;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25) !important;
    content: '' !important;
    display: block !important;
    height: 25px !important;
    left: 0 !important;
    position: relative !important;
    top: 0 !important;
    width: 35px !important;
    
}
.check_box:checked {
    background-position: 0 0, 35px 0 !important;
    padding-left: 25px !important;
    padding-right: 0 !important;

}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px !important;
    border-bottom: 1px solid #111;
}
.pl-2{
  padding-left: 20px;
}
.ico_sport .dropdown-menu 
{
  background-color: #222;
  left: -10px;
  border-radius: 0px;
}
.ico_sport .dropdown-menu ul li
{
  border-bottom: 1px solid #2f2e2e;
}
.ico_sport .dropdown-menu ul li:last-child
{
  border-bottom: none;
}
.ico_sport .dropdown-menu ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.ico_sport .dropdown-menu ul li a i
{
     color: #7d7a7a;
    padding: 0 5px 0 0;
}
button.close{
  position: absolute;
  top: 5px;
  right: 5px;
}
.border-1{
  border: 1px solid #000;
}
.width-100{
  width: 100%;
}

.btn.btn-sm.btn-site {
    font-size: 12px;
    background: #da5041;
    color: white;
    padding: 3px 10px;
}
label{
  font-size: 14px;
  font-weight: 600;
}
#filterForm{
  background:lightgray;
padding: 7px;
margin: 0px 0 10px 0;
border-radius: 5px;
}

/* breadcrumb */


#crumbs ul {
  list-style: none;
  display: inline-table;
}
#crumbs ul li {
  display: inline;
}
#crumbs ul li a {
  display: block;
    float: left;
    height: 30px;
    background: #da5041;
    text-align: center;
    padding: 0px 3px 0 27px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
#crumbs ul li a:after {
      content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #da5041;
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 1;
}
#crumbs ul li a:before {
      content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

#crumbs ul li:first-child a {
  border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#crumbs ul li:first-child a:before {
  display: none;
}

#crumbs ul li:last-child a {
      padding-right: 38px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

#crumbs ul li:last-child a:after {
  display: none;
}

#crumbs ul li a:hover {
  background: #357DFD;
  color: #fff;
}

#crumbs ul li a:hover:after {
  border-left-color: #357DFD;
  color: #fff;
}
