body.login_body {
        color: #222;
    background-color: #bf1922;
    background-image: linear-gradient(56deg, #bf1922 4%, #bf1922 42%);
    margin: 0;
}

li{
    list-style: none;
}

a:hover{
    text-decoration: none;
}
body.ferrari{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}


.ferrari header {
    color: #19e933;
    background-image: linear-gradient(-180deg, #414141 0%, #000 100%);
    height: 8vh;
}


.ferrari header ul {
    /* width: 100%; */
    justify-content: space-between;
    margin: 0;
        top: 2vh;
    position: relative;
    list-style: none;
    display: flex;
    padding-left: 15px;
}

.d-100{
    width: 100%;
}

.d-50{
    width: 50%;
    float: left;

}
.d-25{
    width: 25%;
    float: left;
}

header .li-tv_bet {
        /* background: red; */
        font-size: 13px;
    padding: 3px;
    box-shadow: 0 0 8px 1px #4b4b4a;
    border-radius: 5px;
    width: 80px;
    display: flex;
    justify-content: center;
    height: 30px;
}	

.ferrari header a {
        color: #19e933;
    /* background-color: rgba(51,51,51,0.4); */
    /* box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4); */
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
}

.ferrari .a-open_bets img {
	width: 16px;
    /* top: 3px; */
    position: relative;
    left: -8px;
}

.ferrari header li.main-wallet {
   
    flex: 1;
    justify-content: flex-end;
    font-size: 12px;
    top: -15px;
    position: relative;
    right: 15px;
}


.a-open_bets{
        top: -1px;
    position: relative;
}

.ferrari header li.main-wallet ul {
    flex-wrap: wrap;
    margin-right: 1.86667vw;
}
.ferrari header li.main-wallet li span{

    font-weight: bold;
}

.ferrari header li.main-wallet li {
    flex: 0 0 100%;
    margin-right: 0;
    list-style-type: none;
    /* display: flex; */
    text-align: right;
}

/* @media screen and (max-device-aspect-ratio: 9/18){

	body {
	    height: 100vh;
	    mar
	}
}
 */


 .a-refresh{
        position: relative;
    right: 6px;
    top: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 3px 7px;
    border-radius: 4px;
    margin: 2px;
 }

.login-head, .pass-head {
    position: relative;
    height: 80.66667vw;
    background: url(/mobile/img/bg-login.png) no-repeat 0 bottom;
    background-size: 100% 100%;
    margin-bottom: 5vw;
    text-align: center;
}


.login_body .login-head h1 {
        top: 45.66667vw;
    width: 100%;
    height: 22.13333vw;
    /* background-image: url(/logo.png); */
    /* margin-left: -41.06667vw; */
    color: white;
    font-size: 90px;
    position: absolute;
    /* left: 50%; */
    text-align: center;
}

.form-login {
    width: 84vw;
    margin: 0 auto;
    color: #fff;
}
.form-login dd {
    position: relative;
    margin-bottom: 3.2vw;
}

.login_body input {
    border: 1px solid #666;
}

.form-login input {
    border-width: 0;
    width: calc(100% - 2 * (1.86vw));
    margin-bottom: 0;
}
input {
    position: relative;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: inset 0 0.53333vw 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 1.6vw;
    color: #1e1e1e;
    font-size: 4vw;
    font-family: Helvetica, Tahoma, sans-serif;
    padding: 2.66667vw 1.86667vw;
    margin-bottom: 1.86667vw;
    -webkit-appearance: none;
}


.login_body .btn-send{
       background-image: linear-gradient(-180deg, #464646 15%, #121212 100%);
    border-color: #000;
    color: #ffb80c;
    width: 100%;
    height: 10vw;
    padding-top: 0;
}
.btn, .btn-send{
    background-image: linear-gradient(-180deg, #fff 0%, #eee 89%);
    border: 1px solid #aaa;
    border-radius: 1.6vw;
    font-size: 4vw;
    font-weight: bold;
    line-height: 2.6;
    color: #1e1e1e;
    display: block;
    text-align: center;
}

.policy-link {
    /* width: 100vw; */
    margin: 4.26667vw auto 5.86667vw;
    padding: 0 1.86667vw;
    text-align: center;

    display: block;
}
.policy-link li:before {
    margin: 0 0.4vw;
    content: "|";
}
.policy-link li{
	display: inline-block;
}
.policy-link a {
    text-decoration: underline;
	color: rgba(0, 0, 0, 0.7);
        font-size: 40px;
    line-height: 1.5;    
}


..carousel-inner , .carousel-item , .carousel-item img {
    height: 100px;
}


nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(-180deg, #19e933 20%, #19e933 91%);
    color: #fff;
    z-index: 10;
}


.mobile_nav_ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.mobile_nav_ul a {
    width: 20vw;
    height: 13.33333vw;
    color: #fff;
    font-size: 3.2vw;
    line-height: 1.1;
    padding: 1.86667vw 2.66667vw 0;
}



.mobile_nav_ul .icon-sports {
    width: 5.86667vw;
    height: 4.8vw;
    margin: 0 auto 0.53333vw;
}






.header .bottom-nav {
  display: -webkit-box;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: #212121;
  z-index: 99;
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  box-shadow: 0 -2px 3px -2px #212121;
}
.header .bottom-nav-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-flex: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  color: #cccccc;
  padding: 12px;
}
.header .bottom-nav-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
          color: white;
}

.bottom-nav-item.active {
    background: #000000;
}

.d-none{
    display: none;
}

.main-sport-sec {
    /* padding: 5px; */
    background: #fff;
    height: 75vh;
}

.nav-tabs .nav-link{
    color: white;
    font-weight: 600;
    padding: 7px 10px;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 33%;
}
.nav-tabs {
        border-bottom: 1px solid #000000;
    background: #19e933;
    /* margin: 0px -7px; */
        padding: 5px 6px 0px 6px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #19e933;
    background-color: #000;
    border-color: transparent;

}
.no_match{
    position: relative;
    text-align: center;
    top: 20px;
    color: #717171;
}
.tab-icon{
    width: 16px;
}

.soccer-ic{
    background: url('/mobile/img/sport-black.png');
    background-size: 100% 100%;
}
.tennis-ic{
    background: url('/mobile/img/tennis-black.png');
    background-size: 100% 100%;
}
.cricket-ic{
    background: url('/mobile/img/sports-and-competition-black.png');
    background-size: 100% 100%;
}


.highlights{
    padding: 0;
    background: white;
}

ul.highlights li span {
    color: green;
    font-size: 12px;
    font-weight: 400;
}


ul.highlights li {
    padding: 4px 5px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: 700;
    color: #2789CE;
        top: 3px;
    position: relative;
}
.play_icon{
    font-size: 10px !important;
}



/* account page */

.user-wrap {
    position: relative;
    padding: 0 0 17.6vw;
    overflow: hidden;
}

.username-wrap {
    background-color: #1E1E1E;
    color: #fff;
    font-weight: bold;
    line-height: 10.66667vw;
}

.account-id {
    width: 100%;
    padding-left: 1.86667vw;
    align-items: center;
    margin-bottom: 0;
}

.menu-list {
    background-color: #fff;
    border-bottom: 1px solid #7E97A7;
    margin-bottom: 20px;
    padding: 0;
}

.menu-list li {
    border-bottom: 1px solid #E0E6E6;
    list-style: none;
    align-items: center;
}
.menu-list a {
        position: relative;
    font-size: 4vw;
    font-weight: bold;
    padding: 2.13333vw 9.06667vw 2.13333vw 2.66667vw;\
    width: 100%;
    display: block;
}

.menu-list a:after {
    position: absolute;
    top: 1.86667vw;
    right: 2.66667vw;
    content: '';
    width: 6.4vw;
    height: 6.4vw;
    background: #fff url('../img/arrow.svg') no-repeat;
    background-size: contain;
    border: 1px solid #E0E6E6;
    border-radius: 1.06667vw;
}

.logout {
    background-image: linear-gradient(-180deg, #a74034 0%, #BE2414 100%);
    border: 1px solid #8A0011;
    border-width: 1px 0 1px 0;
    color: #fff;
    font-size: 4.26667vw;
    font-weight: bold;
    margin-bottom: 5.33333vw;
    justify-content: center;
    align-items: center;
    width: 95%;
    position: relative;
    display: block;
    text-align: center;
    padding: 8px;
    margin: 7px;

}

.acc_user {
    font-size: 10px !important;
    padding: 4px 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    top: -2px;
}
.mobile-logo{
        width: 80vw;
    position: relative;
    text-align: center;
    left: 2%;
    top: 40px;
}

.main-body{
        width: 100%;
    position: relative;
    height: 90%;
        background: #e5e5e5;
}

.head-row{
    background: white;
    height: 30px;
    border-bottom: 1.5px solid black;
    padding: 4px 5px;
    color: #c0483a;
}
.team-row {
        height: 55px;
    background: white;
    border-bottom: 1px solid;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
}
.btnBack{
        display: block;
    background: #72BBEF;
    text-align: center;
    padding: 8px;
    margin: 0px 4px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
    height: 42px;
}


.btnLay{
        display: block;
    background: #FAA9BA;
    text-align: center;
    padding: 8px;
    margin: 0px 4px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
    height: 42px;
}
.head-row p{
    margin: 0;
    font-weight: 600;
    color: black;
}
.t-name{
    margin: 0;
    display: block;
    top: 5px;
    position: relative;
}

.tab-wrap {
    background-color: #172832;
    color: #fff;
    font-size: 3.73333vw;
    line-height: 8.8vw;
    font-weight: bold;
    padding: 1.86667vw;
}
.tab-wrap li:first-of-type {
    border-radius: 1.33333vw 0 0 1.33333vw;
}
.tab-wrap li {
    flex: 1;
    border-right: 1px solid #fff;
    text-align: center;
}

.tab-wrap li.select {
    background-color: #fff;
}

.tab-wrap li:last-of-type {
    border-right-width: 0;
    border-radius: 0 1.33333vw 1.33333vw 0;
}
.tab-wrap a {
    color: #fff;
}
.tab-wrap ul{
    padding: 0;
    display: flex;
    margin: 0;
        border: 1px solid #fff;
    border-radius: 3px;
}
.select a{
    color: black;
}

.inplay-sec p {
        margin: 0;
    text-align: center;
    background: #cc4d3f;
    color: white;
    font-weight: 600;
}

.privacyModel,.termsModel,.rulesModel,.kycModel,.responsibleModel,.aboutModel{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease;
}

.frame-bdy{
        background-color: #F0ECE1;
        height: 100%;
}
.frame-wrap {
    width: 89.33333vw;
    height: 95%;
}

.news-wrap.news-wrap-frame {
    position: relative;
    width: 100%;
    height: 100%;
}

.news-wrap.news-wrap-frame .side-head {
    top: 0;
    z-index: 2;
    border-radius: 0;
    background: #222;
    position: sticky;

}
.news-wrap .side-head h3 {
    font-size: 4.8vw;
    color: #FFB80C;
    line-height: 1;
    justify-content: center;
        padding: 30px;
    text-align: center;
    margin: 0;
}
.news-wrap .announce-wrap {
    flex: 1;
    padding-top: 4.26667vw;
    padding-bottom: 0;
}
.side-content, .news-wrap .announce-wrap {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 85%;
}
.announce-wrap {
    overflow-y: scroll;
    background-color: #fff;
    font-size: 4vw;
    line-height: 1.5;
    padding: 4.26667vw 3.46667vw;
    box-sizing: border-box;
}
.announce-wrap h3 {
    font-size: 18px;
    margin-bottom: 3.2vw;
    color: rgba(30,30,30,0.9);
    line-height: 1.2;
    background: transparent;
}
.announce-wrap p {
    margin: 0 0 3.2vw 0;
    font-size: 18px;
}
.news-wrap-frame footer {
    position: sticky;
    position: -webkit-sticky;
}
.modelF .btn-send {
    width: 45.33333vw;
    height: 10.66667vw;
    margin: 0 1.06667vw 0 0;
    font-size: 4vw;
        display: inline-block;
    line-height: 10.66667vw;
}
.modelF {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #E0E6E6;
    padding: 2.13333vw 0;
    background: #fff;
    text-align: center;
}
.social_link{
        margin-top: 6vw;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.social_tab {
   text-align: center
}

.social_tab li {
    display: inline-block;
}

.social_tab li a {
    font-size: 6vw;
    background: #0b9d28;
    padding: 12px;
    margin: 8px;
    width: 10vw;
    display: block;
    /* height: 12vw; */
    border-radius: 8px;
    color: white;
}
.declared {
    background-color: #aed5f5;
    font-size: 3.46667vw;
    line-height: 1.3;
    padding: 2.66667vw;
    margin-bottom: 2.66667vw;
    border-radius: 2.13333vw;
}
.announce-wrap ol {
    margin-left: 6.4vw;
}
.announce-wrap ol li {
    margin-bottom: 3.46667vw;
        list-style-type: decimal;
    font-size: 18px;
}
.announce-wrap h1 {
    margin-top: 12.8vw;
    margin-bottom: 6.4vw;
    font-size: 6.4vw;
    color: #000;
    background-color: rgba(0,0,0,0.1);
    border-radius: 1.33333vw;
    padding: 2.66667vw;
}
.announce-wrap h2 {
    font-size: 5.86667vw;
    line-height: 1.2;
    color: #1B2D38;
    padding-bottom: 2.13333vw;
    margin-bottom: 4.8vw;
    border-bottom: 1px dashed #E0E6E6;
}
.announce-wrap h4 {
    font-size: 4vw;
    color: rgba(30,30,30,0.9);
    margin-bottom: 2.66667vw;
}
.matchDet h4{
        font-size: 12px;
    background: #b34538;
    padding: 8px;
    margin: 0;
    color: white;
    font-weight: 500;
}
.oddinput{
    background: lightgrey;
    font-size: 12px;
    font-weight: 700;
    width: 97%;
    margin: 3px;
    height: 40px;
}
.betInput{
    display: flow-root;
    padding: 2px;
}

#stakePopupList{
        margin-bottom: 1.86667vw;
    background-image: linear-gradient(-180deg, #32617F 20%, #1F4258 91%);
    display: flex;
    /* padding: 0; */
    margin: 0;
    padding-inline-start: 1px;
}
#stakePopupList li {
    flex: 1;
    border-right: 1px solid rgba(255,255,255,0.15);
}
#stakePopupList li a {
    color: #fff;
    line-height: 1.46;
    background-image: linear-gradient(-180deg, #32617F 20%, #1F4258 91%);
    display: block;
    text-align: center;
}
.oddInsert{
    height: 50px;
    margin: 3px;
    width: 97%;
    height: 40px;
}
a.cancelBt {
    width: 90%;
    background: white;
    display: block;
    padding: 6px;
    text-align: center;
    margin: 5%;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    border: 1px solid #ccc;
}


a.placeBetBt {
       width: 90%;
    background: #111111;
    display: block;
    padding: 6px;
    text-align: center;
    margin: 5%;
    border-radius: 5px;
    color: #b34538;
    font-weight: 700;
    border: 1px solid #111;
}


.btnLay.disabled:before,.btnBack.disabled:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #a08a8a59;
    width: 100%;
    height: 100%;
}


a.placeBetBt.disabled {
    background: #a3a3a3;
    color: white;
    border: 1px solid #a3a3a3;
}
span.to-win {
    margin: 0;
    display: block;
    position: relative;
    color: green;
    font-weight: 400;
}
span.to-lose {
    margin: 0;
    display: block;
    position: relative;
    color: red;
    font-weight: 400;
}
.to-win:before, .to-lose:before {
    content: '';
    width: 2.66667vw;
    height: 2.66667vw;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
}
.to-win:before{
    background-image: url('/mobile/img/green-arrow.svg');
}
.to-lose:before{
    background-image: url('/mobile/img/green-arrow.svg');
}
.add-to-res{
    top: 0px;
}

#openBetsBtn{
    font-size: 16px !important;
}
.sidepanel {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #d4d4d4;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    overflow: scroll;
}

.side-head {
    background: #222;
}
.side-head h3 {
   font-size: 14px;
    color: #1E1E1E;
    align-items: center;
    padding: 10px 23px;
    color: #b34538;
}

.side-head h3 img {
   width: 17px !important;
    position: relative;
    left: -8px;
    height: 17px;
    vertical-align: middle;
}

.side-head .close {
    border-color: #444;
}

.side-head .close {
        float: right;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    width: 25px;
    height: 25px;
    background: #d4d4d4;
    position: relative;
    left: 13px;
    text-align: center;
    border-radius: 50%;
    /* vertical-align: middle; */
    padding-top: 4px;
    top: -2px;
}

.alert-msg{
    padding: 5px;
    display: none;
}

.betlist{
    margin: 0;
    padding: 0;
}

.betlist li {
    background: white;
    padding: 4px;
    border: 1px solid #ccc;
    font-size: 17px;
    font-weight: 600;
}

.OpbetList{
    position: relative;
    display: block;
} 

.OpbetList:after{
    position: absolute;
    top: 0px;
    right: 0;
    content: '\f054';
    width: 25px;
    height: 25px;
    background: #ffffff;
    background-size: contain;
    border: 1px solid #b9b9b9;
    border-radius: 1.06667vw;
    color: black;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 4px 0px 0 7px;
}
.OpbetList p{
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    width: 90%;
}
.betinsidehead a{
    background: white;
    padding: 2px 5px;
    border-radius: 4px;
    color: black;
}
.betinsidehead{
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    color: white;
    background: #181818;
    padding: 4px;
}

p.bMatch {
    padding: 1px 8px;
    margin: 0;
    background: #d84d3d;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.side-head-row {
    background: white;
    height: 20px;
    border-bottom: 1.5px solid black;
    padding: 0px 5px;
    color: #000000;
    text-transform: capitalize;
    position: relative;
    font-size: 12px;
}
.side-head-row p,.data-row p{
    margin: 0; 
}
.data-row {
    padding: 3px;
    height: auto;
    margin: 0;
    text-transform: capitalize;
    font-size: 12px;
    display: inline-flex;
}

span.btnlay {
    background: #dc7e7e;
    padding: 3px 9px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    top: 6px;
    position: relative;
}
span.btnback {
    background: #9da8f0;
    padding: 3px 9px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    top: 6px;
    position: relative;
}

.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 99;
    background: #0000008f;
    display: none;
}

.loader-inner{
      font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-transform: capitalize;
}

.loader img{
    position: relative;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    top: 40%;
}

.validCodeImg{
        width: 130px;
    position: absolute;
    z-index: 99;
    right: 10px;
    top: 15px;
}

#errorMsg {
    display: none;
    font-size: 4vw;
    text-align: center;
    color: #fff;
    background: red;
}

span.invalid-feedback {
    font-size: 3vw;
    position: relative;
    top: 5px;
}

.textLogo{
    width: 85vw;
    margin-top: 60px;
}

#loginBtn:focus {
    background: #3a7b08;
    color: white;
}

.betDisabled:after {
    content: '';
    position: absolute;
    top: 0;
    background: rgb(9 9 9 / 48%) url(../bg-disabled.png);
    width: 100%;
    height: 100%;
    right: 0;
}


.matchOdds h3{
    font-size: 13px;
    margin: 0;
    padding: 6px;
    background: #acacac;
}


.slip_set-pop{
    /* display: none; */
    position: absolute;
    top: 30px;
    right: 0;
    width: 282px;
    z-index: 99;
    border-radius: 0 0 4px 4px;
}

.set-content {
   /*  *height: auto !important;
    *height: 100px; */
    min-height: 100px;
    background-color: #E0E6E6;
    font-size: 11px;
    color: #3B5160;
    padding: 10px;
    border-radius: 0 0 4px 4px;
    margin-top: 8px;
}

.stake-set {
    position: relative;
    border-bottom: 1px solid #7E97A7;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    line-height: 15px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    height: 90px;
}

.stake-set dt{
    margin-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.stake-set dd {
    width: 75px;
    margin: 5px;
    float: left;
}

.stake_edit-input {
    width: 70px;
    font-size: 11px;
    margin-left: 0;
}
.set-content input{
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin: 0 5px 0 0;
}
.btn-wrap{
        padding: 0;
    top: 0 !important;
    left: 0 !important;
}
#coinSave{
    font-size: 12px;
    color: white;
}

.fancy{
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}
.fancyPrize{
    font-size: 14px;
    font-weight: 700;
    display: block;
}

.fancySize{
    font-size: 14px;
    font-weight: 400;
    display: block;
}
.fancysec a{
    padding: 1px !important;
}
.spark{
  animation:sparkBack_2 0.5s ease
}
@keyframes sparkBack_2 {
  0%{background-color:#B7D5EB;color:#1E1E1E}
  50%{background-color:#F8E71C;color:#fff}
  100%{background-color:#B7D5EB;color:#1E1E1E}
}

.fancysec .t-name{
    font-size: 15px;
    font-weight: 700;
}


.set-content input{
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin: 0 5px 0 0;
}
.btn-wrap{
      list-style: none;
    padding: 5px;
    text-align: right;
    /* margin-top: 7px; */
    position: relative;
    top: 6px;
    right: 10px;
}

.canclFancy a{
    font-size: 15px;
    line-height: 2;
    margin: 3px;
    color: white;
    background: #ea4141 !important;
}
.canclFancy{
      display: inline;
    float: left;
    width: 95px;
}
.oddhead{
    position: relative;
    width: 100px;
    float: left;
    display: inline;
}
.quick-bet-confirm{
      list-style: none;
    padding: 0;
}
.quick-bet-confirm .quick-bet-confirm-title {
    font-size: 10px;
    line-height: 15px;
    color: #222;
    opacity: 0.5;
}
.quick-bet-confirm li {
    width: calc(100% - 10px);
    list-style: none;
    line-height: 18px;
    color: #1E1E1E;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 700;
}
.quick-bet-confirm {
        width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(204 193 193 / 50%);
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin: 0;
}

.col-stake,.col-send{
  position: relative;
    display: inline;
}

#inputStake{
    width: 100px;
    height: 40px;
    margin: 0px 4px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;

}
.inprow{
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 8px 5px;
}
#placeBet {
    color: white;
    display: inline;
    padding: 8px 24px;
    font-size: 14px;
    /* background: #b34538; */
    background: green;
}
.col-stake_list ul {
    width: 100%;
    padding: 5px;
    display: block;
    float: right;
    margin: 0;
}
.col-stake_list {
   width: 100%;
    display: inline-block;
    padding: 8px 5px;
}
#stakePopupLists ul li{
      width: calc(100% / 6);
      float: left;
      display: block;
}
#stakePopupLists ul li a{
  display: block;
    width: 97%;
    font-size: 15px;
    padding: 3px;
    line-height: 2;
}
.backRow,.backRow:hover{
  background: #65b8f4 !important;
}

.layRow,.layRow:hover{
  background: #ff7fa1 !important;
}


span.loseFancy {
    color: red;
    /* display: block; */
}
.placeFancyBet.disabled::after {
    position: absolute;
    content: '';
    top: 0;
    background: #211c6766;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
}
.marqueerow{
  background: black;
  /* padding: 2px; */
}
.marquee-box h4 {
        display: inline-block;
    width: 15%;
    font-size: 12px;
    font-weight: 700;
    /* padding-right: 12px; */
    background: green;
    /* padding: 5px; */
    margin: 0;
    padding: 3px;
}
.marquee-box marquee {
   display: inline;
        width: 85%;
    color: #f3e001;
    font-weight: 800;
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px;
}
.marquee-box{
      width: 100%;
    display: block;
    margin: auto;
    color: white;
    text-align: right;
}
marquee span{
  font-size: 11px;
    background: green;
    padding: 2px 4px;
    /* border-radius: 4px; */
    font-weight: 600;
    color: white;
}
p.fancyTitle {
    margin: 0;
    background: #c3bfe785;
    padding: 2px 9px;
    color: black;
    font-weight: 500;
}
p.bMatch span{
        font-size: 13px;
    color: black;
}
.minmaxbt{
    float: right;
    font-size: 12px;
    background: white;
    padding: 2px;
    border-radius: 6px;
    /* margin-bottom: 3px; */
    position: relative;
    top: -1px;
}
.fancyBookBt a{
    float: right;
    background: #b34538;
    padding: 0px 9px !important;
    /* display: block; */
    border-radius: 4px;
    color: white;
    position: relative;
    top: 5px;
    font-size: 12px;
    font-weight: 500;
}

.clsgreen{
  color: green;
}
.clsred{
  color: red;
}

.quick_bet-progress{
    margin: 0;
    padding: 5px;
    background: #cac7c7;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

.fancy_quick_bet{/**/}
.fancy_quick_bet .inprow{/**/}
.fancy_quick_bet .inprow>.text-left{display: flex;justify-content: space-between;}
.fancy_quick_bet .inprow>.text-left .canclFancy,
.fancy_quick_bet .inprow>.text-left .oddhead,
.fancy_quick_bet .inprow>.text-left .col-stake,
.fancy_quick_bet .inprow>.text-left .col-send{display: block;width: 25%;white-space: nowrap;}
.fancy_quick_bet .inprow>.text-left .canclFancy{}
.fancy_quick_bet .inprow>.text-left .canclFancy a{width: calc(100% - 10%)!important;margin: auto!important;padding: 5px 0px!important;border-color: #ea4141;}

.fancy_quick_bet .inprow>.text-left .oddhead{width: 20%;}
.fancy_quick_bet .inprow>.text-left .oddhead ul{width: calc(100% - 10%)!important;margin: auto!important;}
.fancy_quick_bet .inprow>.text-left .oddhead ul li{}
.fancy_quick_bet .inprow>.text-left .col-stake{}
.fancy_quick_bet .inprow>.text-left .col-stake input[type="lay"]{width: calc(100% - 10%)!important;margin: auto!important;}
.fancy_quick_bet .inprow>.text-left .col-stake input[type="back"]{width: calc(100% - 10%)!important;margin: auto!important;}
.fancy_quick_bet .inprow>.text-left .col-send{width: 30%;}
.fancy_quick_bet .inprow>.text-left .col-send a{width: calc(100% - 10%)!important;margin: auto!important;padding: 11px 12px!important;}

