*{margin: 0px;padding: 0px;}    
body{font-family: Tahoma, Helvetica, sans-serif;}
P{
  margin: 0px;
}
.header_top_full{
  background:#da5041;
}
.main-top_nav > li {
    padding: 5px 2px;
    text-decoration: none;
    margin-top: 14px;
    border: none !important;
}
.main-top_nav li input {
    border-radius: 4px; 
    padding: 5px;
    width: 130px;
    border: none;
    font-size: 12px;
    height: 25px;
}

.toggle-alert{
        position: fixed;
    width: 250px;
    top: 107px;
    right: 0;
    padding: 6px;
    z-index: 999;
    background: #ff000099;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    animation: hide-toggle 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;

}
@keyframes hide-toggle {
  from {right: 0px;}
  to {right: -200px; opacity: 0;}
}
.pl-0{
  padding-left: 0;
}
.box_input {
    width: 20px;
    border: 1px solid #696464;
    border-radius: 5px;
    height: 17px;
    background: transparent;
    }
.login-btn {
    /*padding: 4px 21px;*/
    border: 1px;
    background-color: #008000;
    font-size: 12px;
    margin-right: -19px;
    width: 80px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 3px;
    padding: 0;
}
.border-0 {
    border: 0!important;
}
.p-0{
  padding: 0 !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.m-0{
  margin: 0 !important;
}
.card-header h3 {
    /*font-size: 14px;
    vertical-align: middle;*/
    display: initial;
    /*letter-spacing: 1.5px;*/
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
}
.card-header h3 i{
          background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 14px;
    color: #000000;
    padding: 5px 7px;
    margin-left: 7px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

}
.nav>li {
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
}
.bg-site {
    background: #ffffff;
    /*min-width: 247px;*/
    position: relative;
    /*float: right;*/
}
.row-p{
  margin: 0 -8px;
}
.col-p{
  padding: 0 8px;
}
.sign-up {
    padding: 4px 21px;
    border: 1px;
    background-color: #666666;
    background-image: linear-gradient(-180deg, #666 0%, #333 100%);
    font-weight: 600;
    font-size: 12px;
}
.user_top{    
    font-size: 17px;
    color: #ffb80c;
    padding: 0px 4px;
}
.main-top_nav {
  padding-right: 20px;
}
.search_bar_top input {
      width: 225px;
    margin: 20px 0px;
    border-radius: 4px;
    border: 1px solid;
    padding: 4px 9px;
    font-size: 13px;
    height: 25px;
}
#tabMenu {
    margin: 0 px 0px;
    padding: 0px;
}
.manu_tab {
    background-color: #fff100;
}
.main_manu_bar  li {
  border-right: none;
}
.logo_header_top {
  padding: 0px;
}
.main_manu_bar li {
    border-right: 1px solid #383838;
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}
.input_bos_time {
  display: flex;
  justify-content: space-between;
}
.input_bos_time input{
    width: 59px;
    border-radius: 7px;
    margin: 6px 3px;
    border: 1px solid #ada9a9;
}
.live_btn_icone{
  font-size: 16px;
  color: #0b0b63;
  background: #bbb4b4;
  padding: 0px 2px;
}
.search_bar_top {
  display: flex;
  justify-content: space-between;
}
.search_bar_top i{
    position: relative;
    top: 21px;
    left: 6px;
    background: white;
    height: 23px;
    padding: 3px 5px;
    border-radius: 3px;
}
._prices {
  padding: 10px 5px;
}
.adel_flex_close {
    display: flex;
    justify-content: space-between;
}
.match_odds {
    margin-left: 16px;
    padding: 0px;
    font-size: 10px;
}
.adel_flex_close {
  padding: 0px;
}
.match_scro i{
  color: red;
  margin-top: 10px 0px;
  margin: 9px 5px 3px 1px;
}
.main_manu_bar li a {
  color: black;
  font-size: 12px;
  font-weight: bold;
} 
.time_zoon {
  font-size: 11px;
  color: #726464;
}
.main_manu_bar {
  margin: 0px;
}
.setting_icone {
  font-size: 16px;
}
.col_center {
  height:100%;
  background: #f0ece1;
  padding: 0px 15px;
}
.sec-tab_secxtion {
  margin-top: 15px;
}
.tabs-buttonn {
  background: #da5041;
  height: auto;
}
.tabs-buttonn p{
  font-weight: bold;
  padding: 5px 10px 2px;   
  background: #da5041;
  color: white;
  font-size: 12px;
}
.tabs-buttonn ul{
  padding-left: 12px;
}
.tabs-buttonn ul li a{
  background-color: #3a4e5a;
  padding: 0px 35px;
  height: 24px;
  color: white;
  font-size: 12px;
}
.tab-pane {
  background: white;
  /*margin: 22px 0px;*/
  padding: 3px 0px;
}
.fancy-btn a{
  background: #0A92A5;
  border-radius: 3px;
  color: white;
  padding: 0px 3px;
}
.match_list_team {
  list-style: none;
  margin:0px ;
  padding: 0px;
}
.match_list_team li{
  font-size: 12px;
  padding: 4px 0px;
}
.right-section {
  background-color:#294252;
  color: white;
}
.right-section p{
  font-size: 12px;
  padding: 5px 8px;
}
.all_margin_section {
  padding: 0px;
}
.click_on_text p{
  font-size: 12px;
  text-align: center
}
.left-section {
  background-color:black;
  color: white;
}
.ico {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e1e1;
}
.right_bet_slip {
  display: flex;
  justify-content: space-between; 
}
.tabs-buttonn ul li a:hover{
  background: #3c3838;
  border: none;
}
.ico:hover{
  background-color: #f2dca7;
}
.score_table li a{
  color: black;
}
.ico a{
  color: black;
  padding: 5px 7px 4px 10px;
  font-size: 12px;
  width: 100%;
}
.icon_leftt i{
  background: #fcb50d;
  padding: 4px 5px;
  font-size: 9px;
  border-radius: 5px;
}
.ico_dots li {
   padding: 3px 9px;
 }
.ico_dots{
  margin: 0px;
}
.ico_dots li a{
  color: #ffb80c;
  font-size: 14px;
  margin-left: 7px;
}
.back_bit {
  background-color: #ced5da;
}
.right-top_section {
    background:#273f4f;
    color: white;
    margin: 0px;
    padding: 0px;
  }
.right-top_section li a{
    color: white;
}
.profit-section_odds {
    background-color:#ced5da;
}
.profit-section_odds p{
    font-size: 11px;
    margin: 0px;
    padding: 3px 0px;
}
.adelaition_vs_team p{
    font-size: 11px;
    margin: 0px;
    padding: 2px 0px;
}
.match_scro {
  background-color:#beddf4;

}
.match_scro p{
  font-size: 11px;
  margin: 0px;
  padding: 1px 0px; 
}
.run_box_border {
  border-top: 1px solid #6d97b5;
  border-bottom: 1px solid #6d97b5;
  background-color: #d4e8f8;
}
.run_scro_box {
  display: flex;
  justify-content: space-between; 
  padding: 9px 3px;
}
.run_scro_box li {
  padding: 0px 16px;
  border: 1px solid;
  border-radius: 4px;
  background: white;
  font-size: 11px;
}
.cancel-btn {
  display: flex;
  justify-content: space-between;
}
.cancel-btn li {
  padding: 10px 0px;
}
.cancel_bttn {
  padding: 5px 41px;
  border-radius: 4px;
  border:1px solid #a9a2a2;
  font-size: 11px;
  color: black;
  font-weight: 600;
}
.team_price_lia {
  font-size: 11px;
  margin-bottom: 6px;
}
.suport {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: rgba(0,0,0,0.3);
  font-weight: 600;
  font-size: 13px;
}
.suport li i{
    font-size: 18px;
    color: #a8a59d
}
.check_box {
  font-size: 13px;
}
.main-fotter_sec {
  border: 1px solid black;
  padding: 2px 40px; 
  border-radius: 8px;
  margin: 26px 39px 0px;
}
.suport li{
  font-size: 12px;
}
.sky_info_tech p {
  font-size: 9px;
  margin: 0px;
  padding: 2px 0px
}
.chrow_icone {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin: 20px 0px 0px;
}
.chrow_icone li{
  display: inline-block;
  padding: 0px 2px;
  font-size: 20px;
}
.chrow_icone li i{
  color:  #b3b2bd;
}
.our_sit_works p{
  font-size: 10px;
  text-align: center;
  padding: 0px 139px;
  color:  #b3b2bd;
}
.pri_contant {
  display: flex;
  justify-content: space-between;
  padding: 0px 155px;
  list-style: none;
}
.pri_contant li a {
  font-size: 12px;
  color: #b3b2bd;
}
.fotter_last_section img{
  margin: auto;
  display: table;
}
.table_team_name {
  display: flex;
  justify-content: space-between;
}
.fancy-right {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
}
.fancy-right a{
  font-size: 12px;
  font-weight: 600;
} 
.fancyy_ {
  background:#0a92a5;
  padding: 3px 4px;
  border-radius: 6px;
  font-size: 12px;
  color: white;
}
.table_point_ {
  list-style: none;
}
.table_point_ td{
  border: 1px solid;
  padding: 5px 10px;
  list-style: none;
}
.main_table_center {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main_table_center li {
  border-bottom: 1px solid #d6d1d1;
  background: white;
}
.table_box_ {
  padding: 0px;
}
.main_table_center li:hover{
  background:#f1f4f6;
}
.score_table  {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.fanyy_time  {
  float: right;
  text-align: center;
  position: absolute;
  right: 53px;
  background: green!important;
  color: white;
}
.carousel-inner img{
  width: 100%;
}
.score_table i{
  color: #cac9c9;
  font-size: 15px;
  border: 1px solid #d5d1d1;
  border-radius: 50%;
  padding: 2px 2px;
}
.score_table i:hover{
  color: green;
}
#in_play{
  color: green;
  font-weight: 600;
}
.score_table li {
  background: #ffffff;
  border-radius: 0px;
  font-size: 10px;
  width: 55px;
  text-align: center;
  height: 21px;
}
.in_play_section {
  display: flex;
  justify-content: space-between;
}
.fannyy {
  background: #0A92A5;
  padding: 0px 7px;
  color: white;
  font-size: 10px!important;
  border-radius: 4px;
}
.in_play_section a {
  font-size: 11px;
  font-weight:600;
  line-height: 25px;
}
.main_table_center ul {
  margin: 3px 0px;
}
.ico_sport {
  display: flex;
  justify-content: space-between;
  background: #222222;
}
.hello {
  padding: 0px;
  background:#FFB80C;
}
.hello img{
  width: 100%;
}
.login_form {
  padding: 103px 31px;
}
/* .modal-body {
  position: relative;
  padding: 0px 14px;
  border-radius: 50px;
} */
.login_form  input {
  margin: 7px 0px;
  font-size: 12px;
  height: 26px;
}
.logn_title_ {
  font-size: 17px;
  color: black;
}
/* .modal-content{
  background:none;
} */
.login_btn {
  background-image: url('../images/bg-top-skyEX.jpg');
  margin: auto;
  display: block;
  width: 100%;
  padding: 5px 0px;
  color:#FFB80C;
  font-weight: bold;
  border: none;
}
.login_fo p{
  text-align: left;
  font-size: 17px;
  color: black;
}
.score_table li:nth-child(odd){
  background-color: #72bbef;
  padding: 4px 0px;
}
.score_table li:nth-child(even){
  background-color:#faa9ba;
  padding: 4px 0px;
}
.suspand a {
  border: 1px solid red;
  color: red;
  padding: 2px 35px;
  margin-right: 6px;
  font-size: 12px;
}
.suspand {
  padding: 3px 0px;
  display: flex;
  justify-content: space-between;
}
.suspand i{
  color: #cac9c9;
  font-size: 17px;
  border: 1px solid #d5d1d1;
  border-radius: 50%;
  padding: 2px 2px;
}
.ply_icon_cricle {
  color: #a9a2a2;
}


.p-0{
    padding: 0 !important;
}

.p-adjust{
    padding: 3px 2px;
}

.float-right{
    float: right !important;
}
 .table>thead>tr>th{
  padding: 5px 10px !important;
    font-size: 12px;
    font-weight: 400;
 }
 .table>tbody>tr>td{
  padding: 2px 1px!important;
 }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{

    padding: 2px 10px;
}

.dataTable>tbody>tr>td, .dataTable>tbody>tr>th, .dataTable>tfoot>tr>td, .dataTable>tfoot>tr>th, .dataTable>thead>tr>td, .dataTable>thead>tr>th{

        font-size: 12px;
    margin: 0px;
    padding: 0 !important;
    vertical-align: middle;
}
.second-row a {
    font-size: 12px;
    font-family: tahoma;
    color: #2789CE;
}
.two_points {
    /*max-width: 200px;*/
    position: relative;
    width: 13%;
}
.Msuspended {
    position: absolute;
    background: #ffffff;
    display: block;
    width: calc(100% - 6px);
    height: calc(100% - 4px);
    color: #3a4e5a;
    border: 1px solid #da5041;
    padding: 0px;
    font-family: tahoma;
}
.two_points a.btnBack {
    background-color: #72bbef;
    color: #000;
    font-weight: 800;
    display: inline-block;
    /*width: 45%;*/
    width: 49%;
    font-size: 11px;
    /* line-height: 13px; */
    padding: 4px 0;
    cursor: pointer;
}
.two_points a.btnLay {
    background-color: #faa9ba;
    color: #000;
    font-weight: 800;
    width: 45%;
    font-size: 11px;
    /* line-height: 13px; */
    padding: 4px 0;
    cursor: pointer;
    display: inline-block;
}
._3QQE9 {
    text-align: center;
}
.d-none {
    display: none!important;
}

._3B8pu {
    text-align: center;
    margin-top: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em;
    background: #f1f3f7;
    font-weight: 500;
    font-size: 14px;
    width: 96%;
    margin: 0 auto;
    border-radius: 8px;
}
.m-0{
    margin: 0!important;
}
._3B8pu a {
    margin: 0 1em 0 0;
    display: inline-block;
}

._3A13C p,
._3B8pu p {
    margin-bottom: 0;
    display: inline-block;
}

._3B8pu img {
    max-height: 32px;
}

._3A13C img,
._3B8pu img {
    height: 25px;
}

._3B8pu a {
    margin: 0 1em 0 0;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #f50;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
}


.leftSideBarContent ul li.active a{
        color: #000;
    background: #f2dca7;
}
.table-blue-color {
    background-color: #da5041;
    color: white;
}


.secContent td {
/*max-width: 15px;*/
width: 9.5%;
}
.secContent th p {
    margin: 3px 0 0;
    font-size: 12px;
    float: left;
    width: auto;
    font-weight: bold;
}
.secContent th p i{
      margin-right: 5px;
    font-size: 14px;
}
.site-alert{
    padding: 4px;
    text-align: center;
    background: #f5b400;
    border-radius: 0px;
    color: white;
    display: none;
    margin: 0;
}
.contentBlockHeading {
    background-color: #072443;
    border-radius: 3px 3px 0 0;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    height: 27px;
    padding: 0 10px;
    position: relative;
    text-align: left;
    width: 100%;
}
.main-body-right-section-wrap {
    background-color: #f7f7f7;
    box-shadow: 0 -1px 3px 2px rgba(0, 0, 0, 0.11);
}
.main-body-right-section {
    padding-left: 0px;
    padding-right: 8px;
}
.Bet-for-slip {
    background: #9bd0f66b;
    width: 100%;
}
.match_details_box{
  padding: 5px 0;
}
.match_details_box p {
    font-size: 11px;
    color: #131313;
    font-weight: 500;
}
.match_rates ul li a {
        display: block;
    text-align: center;
    border: 1px solid #d2d2d2;
    padding: 4px 0;
    font-size: 11px;
    margin: 0px 3px;
    /*height: 20px;*/
    line-height: 1;
}
.p-7{
  padding: 0 7px;
}
.match_rates ul li {
    display: inline-block;
    list-style: none;
    width: 16.66%;
}
.match_rates {
    width: 100%;
    height: auto;
    padding: 4px 0;
    background-color: #fdfdfd;
    margin-top: 7px;
    text-align: center;
}
.one_team_name {
        width: 100%;
    margin: 5px 0px;
    height: auto;
    background-color: white;
    padding: 3px 0px;
    font-size: 11px;
}
.fa-ticket:before {
    content: "\f145";
    font-size: 130px;
    color: #072443;
}
._1BXvS {
    font-size: 15px;
    font-weight: 700;
}
._1Eprm {
    font-size: 12px;
}
._1zgNi {
    display: inline-flex;
}
.bet-slip h1 {
    display: inline-block;
    font-size: 12px;
    padding-top: 7px;
    margin: 0;
}
.match-odds-countory p{
    font-size: 11px;
    font-weight: 800;
}
.match-odds-countory span{
   font-size: 11px;
    color: #989898;
}
.match-odds i {
    font-size: 11px;
    color: #ffffff;
    background: red;
    padding: 2px;
    margin-right: 8px;
    margin-top: 13px;
    cursor: pointer;
    border-radius: 4px;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.form-control{
    padding: 3px;
}
.betting-price{
    font-size: 11px;
}
.input-type-area input{
    height: 20px;
    font-size: 11px;
}
.BetForSlipSecHead{
    background: #ced5da;
}
.BetforSlipMatch,.BetlaySlipMatch {
    background: white;
    padding: 0 8px;
    height: 25px;
    line-height: 0;
}
.liability{
    font-size: 11px;
    margin-bottom: 10px;
}
.two_buttons {
    /*text-align: center;*/
    margin-bottom: 10px;
}
.marketSec {
    margin-top: 10px;
}
.SecHead {
    padding: 10px 16px;
    background: black;
    color: white;
    font-size: small;
}
.SecHead h5{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.two_points_single a.btnBack {
    background-color: #72bbef;
    padding: 4px 4px 8px;
    font-size: 12px;
    line-height: 1.5;
    color: #000;
    font-weight: 800;
    display: inline-block;
    width: 100%;
    height: 44px;
}
.two_points_single a.btnBack span{
  font-weight: normal;
    font-size: 11px;
    display: block;
}
.two_points_single a.btnLay {
    background-color: #faa9ba;
    height: 44px;
    padding: 4px 4px 8px;
    font-size: 12px;
    line-height: 1.5;
    color: #000;
    font-weight: 800;
    width: 100%;
    display: inline-block;

}
.two_points_single a.btnLay span{
  font-weight: normal;
    font-size: 11px;
    display: block;
}
.BetCancelAll a{
    background: black;
    color: white !important;
    border: 1px solid #000;
    font-size: 12px;
    padding: 4px 0;
    width: 85%;
}
.BetSubmit a{
    background: #da5041;
    color: white;
    font-size: 12px;
    padding: 4px 0;
    width: 100%;
}
.nav>li>a {
        position: relative;
    display: block;
    padding: 6px 10px;
    color: black;
    font-size: 12px;
    font-weight: 400;
}
.nav-pills>li>a {
    border-radius: 4px;
    color: white;
    background: #010101;
    padding: 3px 10px;
}
.head-account-row,.head-account-row:hover{
      background-color: black !important;
    color: #d80000 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fbd5bf;
    color: #000000;
}
.card-header {
    /*padding: .75rem 1.25rem;*/
    padding: 4px 1.25rem;
    margin-bottom: 0;
    background-color: rgb(218 80 65);
    /*border-bottom: 1px solid rgba(0,0,0,.125);*/
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
    border-bottom: 1px solid #da5041;
}
@media print {
    html, body {
       display: none;  /* hide whole page */
    }
}

.check_box {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
                      -webkit-linear-gradient(left, #f66 50%, #6cf 50%) !important;
    background-size: 100% 100%, 200% 100% !important;
    background-position: 0 0, 15px 0 !important;
    border-radius: 25px !important;
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5),
                inset 0 0 10px hsla(0,0%,0%,.5),
                0 0 0 1px hsla(0,0%,0%,.1),
                0 -1px 2px 2px hsla(0,0%,0%,.25),
                0 2px 2px 2px hsla(0,0%,100%,.75) !important;
    cursor: pointer !important;
    height: 25px !important;
    /* left: 50% !important; */
    /* margin: -12px -37px !important; */
    padding-right: 25px !important;
    /* position: absolute !important; */
    /* top: 50% !important; */
    width: 60px !important;
    -webkit-appearance: none !important;
    -webkit-transition: .25s !important;
}
.check_box:after {
    background-color: #eee !important;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1)) !important;
    border-radius: 25px !important;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25) !important;
    content: '' !important;
    display: block !important;
    height: 25px !important;
    left: 0 !important;
    position: relative !important;
    top: 0 !important;
    width: 35px !important;
    
}
.check_box:checked {
    background-position: 0 0, 35px 0 !important;
    padding-left: 25px !important;
    padding-right: 0 !important;

}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px !important;
    border-bottom: 1px solid #111;
}
.pl-2{
  padding-left: 20px;
}
.ico_sport .dropdown-menu 
{
  background-color: #222;
  left: -10px;
  border-radius: 0px;
}
.ico_sport .dropdown-menu ul li
{
  border-bottom: 1px solid #2f2e2e;
}
.ico_sport .dropdown-menu ul li:last-child
{
  border-bottom: none;
}
.ico_sport .dropdown-menu ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.ico_sport .dropdown-menu ul li a i
{
     color: #7d7a7a;
    padding: 0 5px 0 0;
}
button.close{
  position: absolute;
  top: 5px;
  right: 5px;
}
.border-1{
  border: 1px solid #000;
}
.width-100{
  width: 100%;
}

.btn.btn-sm.btn-site {
    font-size: 12px;
    background: #da5041;
    color: white;
    padding: 3px 10px;
}
label{
  font-size: 14px;
  font-weight: 600;
}
#filterForm{
  background:lightgray;
padding: 4px 1.25rem;
margin: 0px 0 10px 0;
border-radius: 5px;
}

/* breadcrumb */


#crumbs ul {
  list-style: none;
  display: inline-table;
  margin-top: 6px;
}
#crumbs ul li {
  display: inline;
}
#crumbs ul li a {
  display: block;
    float: left;
    height: 30px;
    background: #da5041;
    text-align: center;
    padding: 3px 3px 0 25px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
#crumbs ul li a:after {
      content: "";
    border-top: 13px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 15px solid #da5041;
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 1;
}
#crumbs ul li a:before {
      content: "";
    border-top: 13px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 15px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

#crumbs ul li:first-child a {
  border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#crumbs ul li:first-child a:before {
  display: none;
}

#crumbs ul li:last-child a {
      padding-right: 27px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

#crumbs ul li:last-child a:after {
  display: none;
}

#crumbs ul li a:hover {
  background: #357DFD;
  color: #fff;
}

#crumbs ul li a:hover:after {
  border-left-color: #357DFD;
  color: #fff;
}
.p-10{
  padding: 0 10px;
}
.height-box{
      height: 519px;
    overflow: hidden;
    overflow-y: scroll;

}
.footer{
  margin: 20px 0 40px;
    padding-top: 6px;
}
.support{
  background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.6);
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 20px;
}
.cont{
  height: 50px;
  position: relative;
  display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.cont::before, .cont::after{
  content: "";
    display: block;
    flex: 1;
    align-self: flex-end;
    height: 1px;
    background-color: rgba(0,0,0,0.15);
    margin-bottom: -1px;
}
/*.footer .support .cont::after{
  content: '';
    position: absolute;
    top: 100%;
    display: block;
    width: 50px;
    height: 1px;
    background-color: rgba(0,0,0,0.15);
}*/
.cont li{
  width: 50px;
}
.cont li a img{
      width: 25px;
    height: 100%;
    background-image: url("http://betting3.ebslon.com/images/arrow.svg");
        background-size: contain;
    background-repeat: no-repeat;
        border: 0px solid #fff;

}
.cont li .whatsapp img{
  background-image: url("http://betting3.ebslon.com/images/whatsapp.svg");
}
.cont li .whatsapp:hover img{
  background-image: url("http://betting3.ebslon.com/images/whatsapp-dark.svg");
}
.cont li .telegram img{
  background-image: url("http://betting3.ebslon.com/images/round-arrow.svg");
}
.cont li .telegram:hover img{
  background-image: url("http://betting3.ebslon.com/images/round-arrow-dark.svg");
}
.cont li .skype img{
  background-image: url("http://betting3.ebslon.com/images/skype.svg");
}
.cont li .skype:hover img{
  background-image: url("http://betting3.ebslon.com/images/skype-dark.svg");
}
.cont li .insta img{
  background-image: url("http://betting3.ebslon.com/images/insta.svg");
}
.cont li .insta:hover img{
  background-image: url("http://betting3.ebslon.com/images/insta-dark.svg");
}
.cont li{
  position: relative;
}
.cont li a{
  position: relative;
}
.cont li a:hover img{
  background-image: url("http://betting3.ebslon.com/images/arrow-dark.svg");
}
.cont li:hover::after, .actives{
  width: 50px;
}
.actives::after{
  content: '';
    position: absolute;
    width: 50px!important;
    z-index: 99;
    height: 27px; 
    left: 0;  
    background: url("http://betting3.ebslon.com/images/support_arrow_w.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: initial;
    
    top: auto;
    bottom: -39px;
}
.actives a::after{
  width: 0!important;
}
.cont li::after{
      content: '';
    position: absolute;
    width: 0;
    z-index: 99;
    height: 27px; 
    left: 0;  
    background: url("http://betting3.ebslon.com/images/support_arrow_w.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: initial;
  
    top: auto;
    bottom: -39px;
}
.cont li a::after{
      content: '';
    position: absolute;
    bottom: -19px;
    display: block;
    width: 50px;
    height: 1px;
    background-color: rgba(0,0,0,0.15);
}
.cont-text{
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 0;
}

.cont-text li a{
  color: #000;
    text-decoration: underline;
   
}
.cont-text li .con-num a:first-child{
    padding: 0 8px;
    border-right: 1px solid rgba(0,0,0,0.2);
    margin-right: 8px;
    color: #000;
    text-decoration: underline;
}
.cont-text li .con-num a:last-child{
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}
.copy-text{
  width: 670px;
    margin: 0 auto 30px;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    background: rgba(255,255,255,0.25);
    border-radius: 8px;
    padding: 5px 10px;
    color: rgba(0,0,0,0.6);
    margin-bottom: 30px;
    align-items: stretch;
    display: flex;
}
.copy-text h3{
  display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding-right: 7px;
    margin-right: 7px;
    margin-top: 0;
    margin-bottom: 0;
}
.copy-text h3 span{
  font-size: 10px;
    font-weight: normal;
}
.copy-text h3 img{
  background-position: 0 -1052px;
    height: 18px;
    width: 107px;
    background-image: url("http://betting3.ebslon.com/images/login-sc5e1026299.png");
    background-repeat: no-repeat;
    display: block;
}

.licence_embed {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    display: flex;
}
.copy-text p{
  flex: 1;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    padding-left: 5px;
}
.browser-wrap {
    color: rgba(0,0,0,0.6);
    font-size: 11px;
    text-align: center;
}
.browser-wrap img {
    background-position: 0 0;
    height: 20px;
    width: 50px;
    margin-bottom: 5px;
    background-image: url("http://betting3.ebslon.com/images/login-sc5e1026299.png");
    background-repeat: no-repeat;
}
.policy-link {
    width: 620px;
    padding-top: 8px;
    margin: 8px auto 15px;
    border-top: 1px solid rgba(0,0,0,0.3);
    text-align: center;
    display: flex;
}
.policy-link li{
  display: inline-block;
}
.policy-link li:first-child:before{
  margin: 0 6px;
    content: "-";
}
.policy-link li:after{
  margin: 0 5px;
    content: "-";
}
.policy-link a {
    color: rgba(0,0,0,0.6);
    text-decoration: underline;
    font-size: 12px;
    line-height: 15px;
}

.two_points a.btnLay:hover{
  text-decoration: none;
}
.two_points a.btnBack:hover{
  text-decoration: none;
}
.height-box .table{
  margin-bottom: 0!important;
}

.privacyModel, .termsModel, .rulesModel, .kycModel, .responsibleModel, .aboutModel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease;
}
.frame-wrap {
    width: 59.33333vw;
    height: 95%;
}
.frame-bdy {
    background-color: #F0ECE1;
    height: 88%;
}
.news-wrap.news-wrap-frame {
    position: relative;
    width: 100%;
    height: 100%;
}
.news-wrap.news-wrap-frame .side-head {
    top: 0;
    z-index: 2;
    border-radius: 0;
    background: #222;
    position: sticky;
}
.side-head {
    background: #222;
}
.news-wrap .side-head h3 {
    font-size: 2.8vw;
    color: #FFB80C;
    line-height: 1;
    justify-content: center;
    padding: 20px 30px;
    text-align: center;
    margin: 0;
}
.side-head h3 {
    font-size: 14px;
    color: #1E1E1E;
    align-items: center;
    padding: 10px 23px;
    color: #b34538;
}
.side-content, .news-wrap .announce-wrap {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 85%;
}
.news-wrap .announce-wrap {
    flex: 1;
    padding-top: 1.26667vw;
    padding-bottom: 0;
}
.announce-wrap {
    overflow-y: scroll;
    background-color: #fff;
    font-size: 4vw;
    line-height: 1.5;
    padding: 4.26667vw 3.46667vw;
    box-sizing: border-box;
}
.announce-wrap h3 {
    font-size: 18px;
    margin-bottom: 1.2vw;
    color: rgba(30,30,30,0.9);
    line-height: 1.2;
    background: transparent;
}
.announce-wrap ul li{
  font-size: 19px;
  margin-bottom: 15px;
}
.announce-wrap p {
    margin: 0 0 3.2vw 0;
    font-size: 18px;
}
.news-wrap-frame footer {
    position: sticky;
    position: -webkit-sticky;
}
.modelF {
    
    left: 0;
    bottom: 0;
    border-top: 1px solid #E0E6E6;
    padding: 10px 0;
    background: #fff;
    text-align: center;
}
.modelF .btn-send {
    padding: 10px 45px;
    font-size: 23px;
    display: inline-block;
    line-height: 1.3;
}

.btn-send {
    background-image: linear-gradient(-180deg, #fff 0%, #eee 89%);
    border: 1px solid #aaa;
    border-radius: 1.6vw;
    font-size: 4vw;
    font-weight: bold;
    line-height: 2.6;
    color: #1e1e1e;
    display: block;
    text-align: center;
}
.responsibleModel .btn-send {
    background-image: linear-gradient(-180deg, #464646 15%, #121212 100%);
    border-color: #000;
    color: #ffb80c;
}
.privacyModel .btn-send {
    background-image: linear-gradient(-180deg, #464646 15%, #121212 100%);
    border-color: #000;
    color: #ffb80c;
}
.termsModel .btn-send {
    background-image: linear-gradient(-180deg, #464646 15%, #121212 100%);
    border-color: #000;
    color: #ffb80c;
}
.aboutModel .btn-send {
    background-image: linear-gradient(-180deg, #464646 15%, #121212 100%);
    border-color: #000;
    color: #ffb80c;
}
.rulesModel .btn-send {
    background-image: linear-gradient(-180deg, #464646 15%, #121212 100%);
    border-color: #000;
    color: #ffb80c;
}
.kycModel .btn-send {
    background-image: linear-gradient(-180deg, #464646 15%, #121212 100%);
    border-color: #000;
    color: #ffb80c;
}
.announce-wrap h2 {
    
    color: #1B2D38;
    
    border-bottom: 1px dashed #E0E6E6;
}
.announce-wrap address{
  font-size: 17px;
    font-style: italic;
}
.declared {
    background-color: #aed5f5;
    font-size: 3.46667vw;
    line-height: 1.3;
    padding: 20px 30px;
    margin-bottom: 2.66667vw;
    border-radius: 2.13333vw;
}
.declared p{
  margin-bottom: 6px;
}
.announce-wrap h1 {
    margin-top: 2.8vw;
    margin-bottom: 2.4vw;
    font-size: 2.4vw;
    color: #000;
    background-color: rgba(0,0,0,0.1);
    border-radius: 1.33333vw;
    padding: 20px 30px;
}
.announce-wrap ol {
    margin-left: 6.4vw;
}
.announce-wrap ol li {
    margin-bottom: 3.46667vw;
    list-style-type: decimal;
    font-size: 18px;
}
.announce-wrap h4 {
    font-size: 19px;
    color: rgba(30,30,30,0.9);
    margin-bottom: 1.66667vw;
}
.announce-wrap h5 {
    font-size: 19px;
    color: rgba(30,30,30,0.9);
    
}
.secContent .table>thead>tr>td{
      padding: 4px 10px;
}
.secContent .table>tbody>tr>td{
      padding: 0!important;
      line-height: 22px!important;
    /*vertical-align: inherit!important;*/
}

.match-odds-in {
    height: 30px;
    line-height: 30px;
    color: #243A48;
    font-weight: bold;
    padding-left: 10px;
    background-color: #C5D0D7;
    float: left;
    margin-top: 10px;
    font-size: 13px;
}
.match-odds-in img {
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: -394px -2958px;
    height: 30px;
    width: 20px;
    background-image: url("http://betting3.ebslon.com/images/main-sa6069f9f5c.png");
}
.game-info {
    padding: 0 10px;
    float: left;
    color: #000000;
    font-size: 13px;
    margin-bottom: 0;
    /* display: block; */
    margin-top: 10px;
}
.game-info li {
    padding: 7px 0 0;
    margin-right: 8px;
    float: left;
}
.icon-time, .icon-live, .icon-irun, .icon-predict, .icon-cashout {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.icon-time {
    background-position: -399px -2840px;
    background-image: url("http://betting3.ebslon.com/images/main-sa6069f9f5c.png");
    background-repeat: no-repeat;
}
.game-low_liq {
    background-color: #D0021B;
}
.fancy-info:last-of-type {
    margin-right: 0;
}
.fancy-info {
    position: absolute;
    left: 52%;
    transform: translate(-52%);
    float: none;
    display: flex;
    padding: 0 6px;
    margin: 18px 0;
    background-color: #BED5D8;
    font-size: 12px;
    line-height: 16px;
    border-radius: 3px;
}
.fancy-info dt {
    color: #315195;
    margin-right: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.fancy-info dd:last-of-type {
    margin-right: 0;
}
.game-matched {
    padding: 0 5px;
    float: right;
    color: #000000;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 10px;
}
.game-matched dt {
    padding: 7px 0 0;
    display: inline-block;
    font-weight: 400;
}
.game-matched dd {
    font-weight: bold;
    color: #1E1E1E;
    padding: 7px 0 0 5px;
    display: inline-block;
}
.secContent thead th p{
  font-size: 11px;
  font-weight: 400;
}
.t-l{
  text-align: left!important;
  font-size: 11px!important;
  vertical-align: bottom!important;
}
.secContent .table thead>tr>td:last-child {
  text-align: right;
  font-size: 11px;
  vertical-align: bottom;
}
.secContent .table thead>tr>td{
  vertical-align: bottom;
}
.secContent .table tbody>tr>th{
  padding: 4px 10px 0!important;
}
.acc-det h2{
  font-size: 13px;
    line-height: 20px;
    padding-top: 6px;
    margin-bottom: 6px;
    font-weight: 700;
    margin-top: 0;
}
.pro-table tbody>tr>td{
  position: relative;
    min-height: 16px;
    padding: 5px 0 5px 10px!important;
    border-bottom: 1px solid #E0E6E6;
    font-size: 12px;
}
.pro-table tbody>tr>td:last-child{
  border-bottom: 0;
}
.pro-table{
  margin-bottom: 0;
}
.pro-table tbody>tr>td>a{
  background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 14px;
    color: #000000;
    padding: 5px 7px;
    margin-left: 7px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.pro-table tbody>tr>td>a:hover{
  text-decoration: none;
}
.pro-table tbody>tr>td>a:focus{
  outline: none;
    outline-offset: 0;
    text-decoration: none;
}
.balance-card{
  padding: 7px 10px 5px;
}
.balance-card .balance-wrap{
  border-right: 1px solid #d8d8d8;
    margin-right: 10px;
}
.balance-card .balance-wrap h4{
  font-size: 15px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 0;
}
.balance-card .balance-wrap h6{
  font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #2789CE;
    margin: 0;
}
.balance-card .balance-wrap h6 span{
  font-size: 12px;
    color: #7E97A7;
    font-weight: normal;
}
.balance-card .balance-wrap p{
  font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
}   
.b-0{
  border-right: 0!important;
}
.pl-7{
  padding-left: 7px;
}
.pr-0{
  padding-right: 0;
}
.table-balance{
  width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-bottom: 1px solid #da5041;
    margin-bottom: 15px;
    margin-top: 15px;
}
.table-balance tbody>tr>th{
  color: #243A48;
    background-color: #ffffff;
    border: 1px solid #da5041;
    border-width: 1px 0 1px 0;
    padding: 8px 10px;
    width: 13%;
    font-size: 12px;
    text-align: right;
}
.table-balance tbody>tr>th:first-child{
  text-align: left;
}
.table-balance tbody>tr>th:nth-last-child(2){
  width: 14%;
}
.table-balance tbody>tr>th:last-child{
  width: 0;
}
.table-head{
  padding: 4px 1.25rem;
    margin-bottom: 0;
    background-color: rgb(218 80 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-head label{
  font-size: 15px;
     color: #ffffff; 
    font-weight: 700;
}
.table-head label select{
  color: #000000; 
}
.table-balance tbody>tr>td{
  padding: 8px 10px!important;
}
.dataTables_wrapper{
  padding: 7px 10px 5px;
}
.table-balance.dataTable thead th, .table-balance.dataTable thead td{
      padding: 8px 10px 8px 3px !important;
}
.table-balance.dataTable tbody>tr>td{
  padding: 10px 10px 10px 3px !important;
}
.table-balance.dataTable{
  border-top: 1px solid #da5041;
}
.table-balance.dataTable thead th{
  border-bottom: 0!important;
  border-bottom: 1px solid #da5041!important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
      padding-bottom: 6px;
    padding-top: 6px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
      background: #ffffff!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 1px 6px!important;
  font-size: 12px!important;
  border-radius: 50%!important;
}
.select{
  padding: 4px 6px 4px 2px!important;
    font-size: 13px!important;
}
.a-icon{
  height: 25px;
    width: 110px;
    font-size: 12px;
}
.a-icon i{
  font-size: 14px;
    margin-right: 10px;
}
.a-icon::after{
  content: '\f107';
  font-family: 'FontAwesome';
  position: absolute;
  right: 10px;
    top: 1px;
  font-size: 15px;
}
.main-top_nav{
  display: flex;
    align-items: center;
}
.main-top_nav > li{
  padding: 5px 5px!important;
}
.dropdown-menu{
  min-width: 220px!important;
    font-size: 12px!important;
    padding-bottom: 0!important;
}
.dropdown-menu>li{
  border-bottom: 1px solid #E0E6E6;
}
.dropdown-menu>li>a{
  padding: 7px 20px!important;
}
.dropdown-button{
  font-size: 14px;
    background: #da5041;
    color: #ffffff!important;
    padding: 4px 10px!important;
    margin: 10px;
    font-weight: 600!important;
    text-align: center;
    border-radius: 4px;
    position: relative;
    border: 1px solid transparent;
}
.dropdown-button:hover{
  border: 1px solid #da5041;
  background-color: #ffffff;
  color: #333333!important;
}

 .m-10{
  margin-bottom: 10px;
 }
 .mt-10{
  margin-top: 10px;
 }   
 .main-top_nav > li span{
  font-size: 12px;
    color: #ffffff;
 } 
 .dwn-li-n a{
      padding: 6px 7px!important;
      font-size: 11px!important;
 }
 .downline-h{
  vertical-align: sub;
 }
 .dwn-li{
  display: flex!important;
    background-color: black !important;
 }
 .dwn-li a{
  display: flex;
    background-color: transparent !important;
    margin-left: 15px;
 }
 .dwn-li a:not(:last-child)::before{
  border-left: 10px solid #ccc;
  content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid #ffffff;
    position: absolute;
    top: 60%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
 }
 .dwn-li a:not(:last-child)::after{
  border-left: 10px solid #fff;
  content: " ";
    display: block;
    width: 0;
    height: 0;
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid black;
    position: absolute;
    top: 60%;
    left: 100%;
    z-index: 3;
    margin-top: -17px;
 }
 .dwn-li a:last-child::before{
  border-left: 10px solid #ccc;
  content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid rgb(0 0 0);
    position: absolute;
    top: 60%;
    margin-top: -17px;
    margin-left: -5px;
    left: 0;
    z-index: 3;
  }
  .dwn-li a:first-child{
    margin-left: 0;
  }

  